.main{
    width: 100%;
    background-color: violet;
    height: 100vh;
}
.leftPane{
    width: 250px;
    height: 100vh;
    background-color: #114232;
    float:left;
}
h1{
    color: #fff;
    margin-left: 40px;
}
h2{
    color: #fff;
}
.notearea{
    width: 400px;
    height: 600px;
    background-color:#ff2;
    float:right;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 20px;
}
.heading{
    color: #000;
}
.title{
    font-size: 25px;
    width:390px;
    border: none;
    margin-top: 20px;
}
.ta{
    width: 390px;
    height:390px;
}

.submit{
    margin-left: 120px;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.ttle{
    color: #000;
}
.container{
    width: 300px;
    height:300px;
    margin-left: 20px;
    margin-top:20px;
    background-color:#EADFB4;
    float:left;
    border-radius: 10px;
    border:2px solid black;
}
.btncontainer{
    display: flex;
    margin-bottom:0;
}
.button{
    margin-top:150px;
    margin-left: 20px;
    font-size: 20px;
    background-color:#FC6736;
    border-radius: 10px;
    color: white;
}